<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Domain Reputation</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
</style>
</head>
<body>
<center>
    <table border: 1px solid black>
        <tr>
            <th width="80px"><a href="/domain-reputation">Domain Reputation</a></th>
            <th width="80px"><a href="/explore-dataset">Explore Dataset</a></th>
            <th width="80px"><a href="/data-schema">Data Schema</a></th>
            <th width="80px"><a href="/retrain-models">Retrain Models</a></th>
        </tr>
    </table>
    <br />
    <form action="/domain-reputation" method="POST">
        <input type="text" name='url' size="100">
        <button type="submit">Submit</button>
    </form> 
    <br />
    {% if url %}
        <h2>{{url}}</h2>
        {{y_pred}}
        {{X}}
    {% endif %}
</center>
</body>
</html>